/* Media query for screens smaller than 768px (typical mobile devices) */
@media screen and (max-width: 768px) {
    .weather-app, .weather-current, .weather-history {
        width: 90%; /* Adjust width for smaller screens */
        padding: 20px; /* Reduce padding */
    }

    .weather-forecasts h1, .weather-history h1 {
        font-size: 40px; /* Adjust font size */
    }

    .city-name {
        font-size: 30px; /* Adjust font size */
        margin-bottom: 30px; /* Adjust margin */
        margin-top: 20px; /* Adjust margin */
    }

    .city-input {
        width: 100%; /* Full width for input on smaller screens */
        margin-right: 0;
    }

    .search-btn {
        width: 100%; /* Full width for button on smaller screens */
        margin-top: 10px; /* Adjust margin */
    }

    .weather-icon-img-first-card {
        width: 100px; /* Adjust size for smaller screens */
        height: 100px; /* Adjust size for smaller screens */
    }

    .weather-icon-img {
        width: 80px; /* Adjust size for smaller screens */
        height: 80px; /* Adjust size for smaller screens */
    }

    .temperature {
        font-size: 30px; /* Adjust font size */
        margin-bottom: 10px; /* Adjust margin */
    }

    .weather-description {
        font-size: 20px; /* Adjust font size */
        margin-bottom: 10px; /* Adjust margin */
    }

    .max-min {
        font-size: 16px; /* Adjust font size */
        margin-bottom: 10px; /* Adjust margin */
    }

    .forecast-icon {
        width: 40px; /* Adjust size for smaller screens */
        height: 40px; /* Adjust size for smaller screens */
    }

    .history-item {
        font-size: 16px; /* Adjust font size */
        padding: 5px; /* Adjust padding */
        margin-bottom: 10px; /* Adjust margin */
    }
}
